.footer {
  color: #000;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  background: transparent;
  text-align: center;
  border-top: 1px solid #fff;
  font-weight: bold;
  text-transform: uppercase;

  &__content {
    display: flex;
    width: 85%;
    margin: 0 auto;
  }

  &__left {
    width: 30%;
    text-align: left;
    align-self: center;
    margin-right: 45%;

  &__right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } 

  &__icon {
    font-size: 2.5em;
    color: #fff;
    margin: 0 1rem;
    }
  }
}