$backgroundInput: #f4f4f4;
$backgroundButton: #4267B2;

*{
  box-sizing: border-box;
  margin: 0;
}
.register-container{
  margin: 40px auto;
  background-color: white;
  padding: 40px 40px 10px;
  width:500px;
  min-width: 356px;
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.register-form{
  display: block;
  margin-right: 15px;
  margin-left: 3px;
}
.title{
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  margin-left: 0;
  display: flex;
  #logo{
    height: 50px;
    width: 50px;
    margin-left: 230px;
  }
}
.wrap-input{
  margin-top: 10px ;
  width: 100%;
}
input{
  margin-bottom: 10px;
  width: 100%;
  height: 3em;
  padding: 8px;
  border:2px solid transparent;
  border-radius: 5px;
  background: #f4f4f4;
  font-size: 14px;
}
#btn{
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: #f4f4f4 ;
  border: 2px solid transparent;
  border-radius: 50%;
  margin-left: 45%;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  overflow: hidden;
  #btn-register{
    height: 20px;
    width: 20px;
  }
  &:hover{
    border: 2px solid black;
    transition: 2s;
  }
}
a{
  color: white;
  text-decoration: none;
}
.link{
  margin-top:20px;
  text-align: center;
  a {
    color: #4267B2;
    margin-top: 10px;
  }
}