@import '../abstract/variables.scss';

.rooms {
	background: $primary-container-background;
	box-shadow: $primary-container-box-shadow;
	max-width: 600px;
	overflow-x: auto;

	&__header {
		padding: 1px 0;
	}

	&__details {
		display: flex;
		justify-content: center;
		align-items: center;

		&-item {
			display: flex;
			align-items: center;
			font-weight: bold;
		}

		& span {
			margin: 0 10px;
		}
	}

	&__list {
		margin: 0;
		padding: 0 10px;
		height: 700px;

		&-item {
			list-style: none;
			margin: 0 0 1rem 0;
			transition: opacity 0.5s ease, transform 0.5s ease;

			&:hover {
				opacity: 0.6;
			}

			&-link {
				text-decoration: none;
				color: #fff;
			}
		}
	}

	&__item {
		&-container {
			display: flex;
			padding: 8px;
			border-radius: 3px;
			border: 1px solid $border-color;
		}
		&-message {
			//display: flex;
			//align-items: center;
			> .content {
				white-space: nowrap;
				width: 100px;
				overflow: hidden;
				text-overflow: ellipsis;
				border-radius: unset;
			}
			> .sender-name {
				display: flex;
				> div {
					&:nth-child(2) {
						> span {
							font-size: 12px;
						}
					}
				}
			}
		}
		&-avatar {
			padding: 10px;
			height: 45px;
			width: 45px;
			text-align: center;
			font-weight: bold;
			font-size: 20px !important;
			background: #c8d0d2;
			color: #ffff;
		}
		&-details {
			width: auto;
			text-align: left;
			color: #667576;
			border-radius: 5%;
			padding: 10px;
			display: flex;
			flex-direction: row;
			div {
				font-size: 15px;
				//font-weight: bold;
				margin-right: 1rem;
				border-radius: 50%;
			}
			span {
				//margin-left: 2rem;
				p {
					margin-top: 10px;
					font-size: 10px;
				}
			}
		}

		&-actions {
			display: flex;
			justify-content: flex-end;
		}

		&-action {
			width: 50%;
			align-self: center;
			text-align: right;
		}
	}

	&__actions {
		padding: 1rem 1rem 0px;
		width: 100%;
		display: flex;
	}

	&__search-input {
		position: relative;
		padding: 1rem;
		border-radius: 3px;
		border: 1px solid #c8cfd2;
		background: transparent;
		margin: 1.5rem 0 0.5rem 0;
		z-index: 1;
		width: 95%;
		color: #959c9f;
		&::placeholder {
			color: #959c9f;
		}
		//font-weight: bold;
		//font-family: 'Work Sans', sans-serif;
	}
}
